@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #83a4d4, #b6ffff);
}
.search_container{
    background-color: rgba(0, 0, 0,0.19);
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}
#search_input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 20px 20px 20px 20px;
}
#search_input:focus {
    box-shadow: 0 14px 28px rgba(151, 151, 151, 0.25);
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    transition: .3s;
}
li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
li:last-child {
    border-bottom: none;
}